// theme colors
$theme:                  dark !default;
$main_color:             #C9572A !default; // light
$back_color:             #2b2b2b !default; // dark
$back_darken_color:      darken($back_color, 13) !default; // darken
$back_grey_color:        #30303D !default;
$back_darken_grey_color: darken($back_grey_color, 10) !default;
$text_color:             #fff !default;
$text_mute_color:        rgba($text_color, 0.5) !default;

$color_primary:  #2B6AD9 !default; // blue
$color_success:  #2BD964 !default; // green
$color_info:     #2BD7D9 !default; // light blue
$color_warning:  #EB8324 !default; // orange
$color_danger:   #D92B4C !default; // red

// media variables
$media-xxs: "(max-width: 532px)" !default;
$media-xs:  "(max-width: 767px)" !default;
$media-sm:  "(min-width: 767px) and (max-width: 991px)" !default;
$media-md:  "(min-width: 992px) and (max-width: 1199px)" !default;
$media-lg:  "(min-width: 1200)" !default;

// font
$font_body: 'Open Sans', sans-serif;
$font_headings: 'Josefin Sans', sans-serif;
$body_letter_spacing: normal;

// skew size
$skew_size: 7deg !default;

// images opacity
$banners_opacity: 0.7 !default;
$images_opacity: 1 !default;
$images_hover_opacity: 0.7 !default;

// navbar
$navbar-height:    80px !default;
$navbar-sm-height: 50px !default;
